/*====== reset css ======*/
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: #0a051b;
}

/*====== cabeçalho ====== */

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff;
  font-size: 18px;
  z-index: 3;
  background: linear-gradient(
    30deg,
    rgb(12, 12, 12),
    rgb(187, 0, 47) 50%,
    rgb(000, 0, 00)
  );
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
}
.logo {
  align-items: center;
  display: flex;
  gap: 15px;
}
#nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  transition: 0.5s;
}
#menu a:hover {
  transform: scale(1.1);
}
#btn-mobile {
  display: none;
}

/* ======== classe main ==========*/

.class-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 100px;
  position: relative;
  padding: 100px;
  padding-bottom: 0px;
  padding-top: 100px;
}

/* conteudo principal */

.conteudo-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 100px 0;
  border-bottom: 2px solid #fff;
  gap: 90px;
}
.principal-nomes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.principal-textos {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.principal-h1 {
  font-weight: normal;
  font-size: 38px;
  color: #fff;
}
.principal-meunome {
  font-weight: bold;
  font-size: 55px;
  color: #bb002f;
  width: 100%;
}
.principal-h3 {
  border-right: 2px solid rgb(150, 151, 150);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgb(150, 151, 150);
  white-space: nowrap;
  overflow: hidden;
}
.typing-animation {
  animation: blinkcursor 500ms steps(40) infinite normal,
    typing 3s steps(40) 1s infinite normal both;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 7em;
  }
}
@keyframes blinkcursor {
  from {
    border-right-color: rgb(150, 151, 150);
  }
  to {
    border-right-color: transparent;
  }
}
.div-botoes {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}
.botao-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 69px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #bb002f;
  border-left: 2px solid #bb002f;
  border-top: 2px solid #fff;
  border-radius: 25px;
  background: transparent;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
}
.botao-curriculo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 69px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #bb002f;
  border-left: 2px solid #bb002f;
  border-top: 2px solid #fff;
  border-radius: 25px;
  background: transparent;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
}
.botao-contato:hover {
  transform: scale(1.1);
}
.botao-curriculo:hover {
  transform: scale(1.1);
}
.icon-download {
  margin-left: 0.5em;
  font-size: 20px;
}
.img-bemvindo {
  display: flex;
  border-radius: 50% 20% 60% 40% / 60% 20% 80% 40%;
  width: 40%;
  height: 40%;
}

/* conteudo secundario - quem sou */

.conteudo-quemsou {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  flex-direction: row;
  padding: 100px 0;
  padding-bottom: 0px;
  border-bottom: 2px solid #fff;
}
.div-imagem-quemsou {
  display: flex;
}
.imagem-quemsou {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 0 0 150px 0;
}
.texto-minhavida {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  align-items: flex-start;
  width: 45%;
}
.titulos-h1 {
  display: flex;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  margin-bottom: 100px;
}
.meu-texto {
  background: #fff;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 60%;
  font-size: 17px;
  color: #0e0e0e;
  padding: 8px;
}
.meu-texto span {
  color: rgb(187, 0, 47);
  font-weight: bold;
}

/* conteudo terciario - habilidades */

.conteudo-habilidades {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 100px;
  border-bottom: 2px solid #fff;
}
.div-habilidades {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
.div-css {
  display: flex;
  width: 200px;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
}
.div-inicial-css,
.div-inicial-html,
.div-inicial-js,
.div-inicial-react {
  display: flex;
  width: 100%;
  height: 50px;
  background: transparent;
  color: rgb(187, 0, 47);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #bb002f;
  border-left: 2px solid #bb002f;
  border-top: 2px solid #fff;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.div-html {
  display: flex;
  width: 200px;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
}
.div-js {
  display: flex;
  width: 200px;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
}
.div-react {
  display: flex;
  width: 200px;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
}
.img-react {
  width: 90%;
}
.div-segunda-habilidades {
  display: flex;
  width: 100%;
  height: 250px;
  margin-top: 30px;
  color: #ffffff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.div-css:hover .div-inicial-css {
  transform: scale(1.1);
}
.div-css:hover .div-segunda-habilidades {
  transform: scale(1.1);
}
.div-html:hover .div-inicial-html {
  transform: scale(1.1);
}
.div-html:hover .div-segunda-habilidades {
  transform: scale(1.1);
}
.div-js:hover .div-inicial-js {
  transform: scale(1.1);
}
.div-js:hover .div-segunda-habilidades {
  transform: scale(1.1);
}
.div-react:hover .div-inicial-react {
  transform: scale(1.1);
}
.div-react:hover .div-segunda-habilidades {
  transform: scale(1.1);
}

/* conteudo quartenario - projetos */

.projetos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.sessao-header {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
}
.sessao-projetos {
  background: #0a051b;
  align-items: center;
  padding-top: 100px;
  border-bottom: 2px solid #fff;
}
.card {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
  width: 18rem;
  height: 25rem;
  position: relative;
  transition: 1s;
  justify-content: center;
}
.card:hover {
  transform: scale(1.1);
}
.card-img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.card-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}
.card:hover .card-img-wrapper img {
  opacity: 0.1;
  background-color: #000000;
}
.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;

  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}
.card-info h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}
.card-info h3 {
  font-weight: bolder;
  color: rgb(187, 0, 47);
  margin-bottom: 1.5rem;
}
.card-info p {
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
}
.cust_btn {
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
}
.botao {
  width: 90px;
  height: 40px;
  line-height: 42px;
  padding: 0 14px;
  border: none;
  background: #0a051b;
}
.botao:hover {
  color: rgb(187, 0, 47);
  box-shadow: none;
}
.botao:before,
.botao:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(187, 0, 47);
  transition: 400ms ease all;
}
.botao:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.botao:hover:before,
.botao:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

/* conteudo quintenario - contatos */

.conteudo-contatos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  padding: 100px 0;
  background: #0a051b;
}
.conteudo-nomes-contatos {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #ffff;
  gap: 10px;
}
.entre-contato {
  color: #ffff;
}
.titulo-da-div-contatos {
  font-weight: bold;
  font-size: 18px;
  color: #bb002f;
  display: flex;
}
.links-contatos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  padding: 80px;
  box-sizing: border-box;
}
a {
  color: #ffffff;
}
.contatos-primeira-coluna {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  gap: 30px;
}
.contatos-segunda-coluna {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  gap: 30px;
}
.contato {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #ffff;
  border-right: 2px solid #bb002f;
  border-left: 2px solid #bb002f;
  border-top: 2px solid #ffff;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.contato:hover {
  transform: scale(1.2);
}
.logo-do-git {
  width: 20px;
  height: 20px;
  left: 731px;
  top: 3324px;
}
.logo-do-gmail {
  width: 20px;
  height: 20px;
  left: 731px;
  top: 3324px;
}
.logo-do-whatsapp {
  width: 30px;
  height: 30px;
  left: 731px;
  top: 3324px;
}
.logo-do-linkedin {
  width: 20px;
  height: 20px;
  left: 731px;
  top: 3324px;
}
.botao-rede {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
.botao-rede:hover {
  transition: 0.5s all;
}

/*---- rodapé---- */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 25px;
  background: #160c30;
  border: 1px solid rgb(187, 0, 47);
  box-sizing: border-box;
  backdrop-filter: blur(200px);
  color: #ffffff;
}

@media (max-width: 1000px) {
  .class-main {
    padding: 0px;
    padding-top: 70px;
  }

  #header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: linear-gradient(
      30deg,
      rgb(12, 12, 12),
      rgb(187, 0, 47) 50%,
      rgb(000, 0, 00)
    );
    height: 0;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 1rem 1rem;

    border-bottom: 2px solid rgba(221, 215, 215, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .conteudo-principal {
    flex-direction: column-reverse;
  }
  .principal-h1 {
    font-size: 25px;
  }
  .principal-meunome {
    font-size: 40px;
  }

  .principal-h3 {
    font-size: 15px;
  }
  .img-bemvindo {
    display: none;
  }

  .titulos-h1 {
    font-size: 30px;
  }

  .entre-contato {
    font-size: 30px;
    padding-top: 20px;
  }

  .sessao-projetos {
    width: 100%;
  }
  .cards {
    display: flex;
  }
}
@media (max-width: 800px) {
  .conteudo-quemsou {
    flex-direction: column;
  }

  .texto-minhavida {
    width: 100%;
    margin-right: 0;
    align-items: center;
  }
  .imagem-quemsou {
    margin: 0;
  }
  .meu-texto {
    margin-bottom: 80px;
  }
  .div-habilidades {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .div-habilidades {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .conteudo-nomes-contatos {
    width: 90%;
  }
  .links-contatos {
    align-items: center;
    padding: 20px;
    width: 100%;
    flex-direction: column;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(58, 58, 58);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f0f0f;
  border-radius: 10px;
}
